div {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 10px;
    display: inline-block;

}

img {
    border: 10px groove orangered;
    border-radius: 100%;
    padding: 20px;
    margin: 20px;}
.onedog {
    border: 10px dotted orangered;}
.twodog {
    border: 10px dashed orangered;}
.threedog {
    border: 10px double orangered;}