div {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 10px;
    background-image: url("../011_Hands-on-exercise/011c_hands-on-exercise/cute-puppy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    border: 10px groove orangered;
    border-radius: 100%}
.onedog {
    border: 10px dotted orangered;}
.twodog {
    border: 10px dashed orangered;}
.threedog {
    border: 10px double orangered;}